@font-face {
    font-family: "nasa";
    src: url("nasalization-rg.ttf");
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}


h1
{
    text-decoration: underline;
    color: #8B0000;
    background-color: black;
    opacity:0.2;

    font-family: "nasa";
    text-align: center;
    font-size: 45px;
    margin:0;
    
    
}
h2 {
    color: rgb(178,34,34);
    font-family: "nasa";
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: black;
    text-align: center;
}
cite {display: block;
    border: 2px solid black;

}
body {
    background-color: aliceblue;
    padding-left: 10%;
    padding-right: 10%;
    color: darkslategray;
}
#a
{
    color: green;

}

#b,#d
{
    color: greenyellow;
}

audio,img,video {width: 33%;}

p , ul {
    margin : 0% 5% 0% 5% ;
}