header {
    background-color: grey;
    border-width: 2px;
border-style: solid;
border-color:black;

   }
h2.Offre{
    margin-left: 450px;
    margin-top: -200px;
}

nav{
background-color:white; 
    text-align: center;
    
}

section.experiences
 {
text-align:left
}

main {
    display: block;
 background-color: grey;
 border-width: 2px;
border-style: solid;
border-color:black;

}

.link {
    margin-left: 80%;
   
}

footer {
    background-color: grey;
    border-width: 2px;
    border-style: solid;
    border-color:black;
     }